* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.no-bottom-border {
    border-bottom: none;
}

.color-header {
    background-color: #266ca8;
    height: 40px;
}

.color-header::before {
    content: "";
    display: block;
    background-color: #96c539;
    width: 30px;
    height: 100%;
    float: left;
}

.color-header p{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300px;
    height: 28px;
    padding: 6px 0px 6px 26px;
    float: left;
}

body {
    background-color: #eeeeee;
    width: 90%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    color: #333333;
}

header {
    width: 100%;
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
}

header .logotipo {
    width: 20%;
}

header .logotipo img {
    width: 160px; /* Photoshop está a 140px */
}

header > nav {
    width: 80%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

header > nav > ul > li {
    position: relative;
    float: left;
    list-style: none;
    font-size: 1.625em;
    font-weight: 300;
    margin-left: 80px;
    padding-bottom: 6px;
    border-bottom: solid 4px #eeeeee;
    cursor: pointer;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #333333;
}

header > nav > ul > li:hover {
    border-bottom: solid 4px #266ca8;
}

header > nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

header .drop-menu {
    width: 240px;
    position: absolute;
    margin-top: 10px;
    right: 50%;
    margin-right: -120px;
    border: solid 1px rgba(187,187,187,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

header .drop-menu li {
    list-style: none;
    background-color: #eeeeee;
    text-align: center;
    border-bottom: solid 1px rgba(187,187,187,0.5);
}

header .drop-menu li > a {
    display: block;
    text-decoration: none;
    font-size: 0.75em;
    padding: 16px 0;
    color: #333333;
}

header .drop-menu li > a:hover {
    background-color: #96c539;
    color: #ffffff;
}

#slider-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

#slider-images {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

#slider-images img {
    position: absolute;
    top: 0px;
    left: 0px;
}

#slider-wrapper ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right:  0px;
    width: 100%;
}

#slider-wrapper ul li {
    float: left;
    width: 25%;
    background-color: rgba(0,0,0,0.8);
    list-style: none;
    text-align:  center;
}

#slider-wrapper ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    padding: 14px 0;
    font-size: 1.375em;
    padding-left: 10px;
}

#slider-wrapper ul li .icon-ticket {
    background: url("../imagens/ticket_icon.png") no-repeat 68px center;
}

#slider-wrapper ul li .horario-ticket {
    background: url("../imagens/horario_icon.png") no-repeat 76px center;
}

#slider-wrapper ul li .actividades-ticket {
    background: url("../imagens/actividades_icon.png") no-repeat 56px center;
}

#slider-wrapper ul li .chegar-ticket {
    background: url("../imagens/comoChegar_icon.png") no-repeat 50px center;
}

#slider-wrapper ul li a:hover {
    background-color: rgba(150,197,57,0.8);
}

#slider-wrapper .image-bullets {
    position: absolute;
    top: 24px;
    right: 36px;
}

#slider-wrapper .image-bullets button {
    border: solid 1px #ffffff;
    width: 14px;
    height: 14px;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
    margin-left: 2px;
}

#slider-wrapper .image-bullets .active {
    background-color: #96c539;
}

/* Texto de Introdução da Página Inicial */

#intro-texto {
    width: 100%;
    margin-top: 30px;
}

#intro-texto p{
    font-size: 1.25em;
    text-align:  justify;
    line-height: 1.5em;
    font-weight: 300;
}

/* Noticias e Destaques */

#noticias-destaques-wrapper {
    width: 100%;
    margin-top: 30px;
}

#noticias-detaques-items {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#noticias-detaques-items .noticia {
    width: 32%;
    background-color: #ffffff;
    border: solid 1px #bbbbbb;
    text-align: center;
    position: relative;
}

#noticias-detaques-items .noticia img {
    display: block;
    height: 160px;
    width: 100%;
    margin: 0 auto;
}

#noticias-detaques-items .noticia hr {
    height: 4px;
    background-color: #759fc4;
    border: none;
}

#noticias-detaques-items .noticia p {
    font-size: 1.25em;
    color: #96c539;
    font-weight: 700;
    margin-top: 10px;
    padding: 0 10px;
    margin-bottom: 80px;
}

#noticias-detaques-items .noticia a {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #266ca8;
    font-size: 1.125em;
    font-weight: 300;
    width: 70px;
    padding: 6px 0px;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 15px;
}

/* Botão Ver mais notícias e destaques */

/*#ver-mais-noticias-btn {
    width: 32%;
    margin: 0 auto;
    margin-top: 20px;
}

#ver-mais-noticias-btn a {
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #266ca8;
    margin-top: 20px;
}*/

.mais-btn {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #266ca8;
    text-decoration: none; 
}






















footer {
    width: 100%;
    height: 300px;
}